environment: dev
runner:
  runner: dataflow
  project: project
  jobName: myproject
  zone: us-east1-b
  network: default
  stagingLocation: stag
  tempLocation: temp
  numWorkers: 1
  maxNumWorkers: 1
  workerMachineType: n1-standard-2
  diskSizeGb:
  autoscalingAlgorithm: THROUGHPUT_BASED
  labels:
    costcenter: bi-development
    infratype: pipeline
  workerLogLevelOverrides:
    org.apache.kafka.clients.consumer.internals.Fetcher: WARN
options:
  dataset: dataset
pipelines:
connections:
  kafka:
    topic:
    - topic1
    - topic2
    properties:
      bootstrap.servers: localhost:9092
      group.id: group
      sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="USER" password="PASS";
      security.protocol: SASL_PLAINTEXT
      sasl.mechanism: SCRAM-SHA-256
      enable.auto.commit: false
transformNameMapping:
  map1: map2